//	SITE COLORS

$primary_color: #240438;
$primary_faded_color: #6C5662;
$secondary_color: #83b036;
$tertiary_color: #442200;


$light_color: #fafafa;
$light_gray_color: #eee;
$gray_color: #aaa;
$dark_gray_color: #171721;
$dark_color: #171717;


$onemore_color: hsl(120deg, 100%, 50%);
$another_color: hsl(120deg, 100%, 50%);
$other_color: hsl(120deg, 100%, 50%);