/*********************************************
	LAYOUT
	http://rickyvetter.com 
	v1.0
*********************************************/

@mixin color-block($block-color, $font-color) {
	background: $block-color;
	color: $font-color;
	margin-bottom: $base;
	padding: $base;
	font-family: "Montserrat";
	font-size: $base*1.2;
}

$base: 1rem;

body {
	@include linear-gradient(to top, $light-gray-color, $light-color, $fallback: $light-gray-color);
	padding:0 $base;
	@include media($desktop)
	{
		padding:0;
	}
}

header
{
	.header-content{
		@include outer-container;
		#ricky
		{
			@include span-columns(3); 
			@include media($tablet)
			{
				@include span-columns(3);
			}
			@include media($desktop)
			{
				@include span-columns(4);
			}
			margin-bottom:$base/2 ;
		}
		nav#main-nav
		{
			@include span-columns(4);
			@include media($tablet)
			{
				@include span-columns(5);
			}
			@include media($desktop)
			{
				@include span-columns(8);
			}
			ul{
				list-style:none;
				@include span-columns(4 of 4);
				@include media($tablet)
				{
					@include span-columns(5 of 5);
				}
				@include media($desktop)
				{
					@include span-columns(8 of 8);
				}
			}
			li{
				@include span-columns(4 of 4);
				text-align:right;
				@include media($tablet)
				{
					@include span-columns(2.5 of 5);
					text-align:left;
				}
				@include media($tablet-only)
				{
					@include omega(2n);
				}
				@include media($desktop)
				{
					@include span-columns(2 of 8);
					margin-top: $base;
				}
			}
			display: none;
			margin-bottom: $base/2;
		}
	}
	#menu-icon
	{
		@include span-columns(1); 
		// position:absolute;
		// top:0;
		// right:0;
		float:right;
		width:50px;
		height:50px;
		//background:red;
		background: url(menu-icon.png) no-repeat center;
		margin-right:0;
		cursor:pointer;
		@include media($tablet)
		{
			display:none;
		}
	}
	margin-top:$base;
	//position:fixed;
	//top:0;
}

#stripe{
	background-color:$primary-color;
	positioning:absolute;
	padding: $base*2 $base;
	margin:0 $base*-1 $base*2 $base*-1;
	@include media($tablet)
	{
		p{
			margin:0;
		}
	}
	@include media($desktop)
	{
		padding: $base*2 0;
		margin:0 0 $base*2 0;
	}
}
#stripe.just-stripe{
	margin:0 $base*-1 0 $base*-1;
	@include media($desktop)
	{
		margin:0;
	}
}
a.button{
	@include span-columns(4); 
	@include media($tablet)
	{
		@include span-columns(3);
	}
	@include media($desktop)
	{
		@include span-columns(4);
	}
	text-align:center;
	padding:25px 0;
	font-size:$base*2;
	border:1px solid $light-gray-color;
	margin-bottom:$base;
}
a.dark, a.dark:visited, input.submit{
	color:$light-gray-color;
	background-color:$primary-color;
}
a.dark:hover{
	background-color:$primary-faded-color;
	color:$light-gray-color;
}
a.social-link, a.social-link:visited
{
	font-size:$base*5;
	color:$light-gray-color;
}
a.social-links:hover
{
	color:$primary-faded-color;
}



section
{
	@include outer-container;
	margin-bottom:$base*2;
	// :last-child {
	// 	border-bottom:none;
	// }
	h1{
		margin-bottom:$base;
	}
	article
	{
		@include span-columns(4); 
		@include media($tablet)
		{
			@include span-columns(8);

			// border-bottom:1px solid $gray-color;
		}
		@include media($desktop)
		{
			@include span-columns(12);
		}
		padding-bottom:$base;
		margin-bottom:$base;
		//box-shadow: 0px 1px 0px $gray-color;
	}

}


#footer-contact, .content
{
	@include span-columns(4); 
	@include media($tablet)
	{
		@include span-columns(5);
	}
	@include media($desktop)
	{
		@include span-columns(8);
	}
}
.one-half
{
	@include span-columns(4 of 4); 
	@include media($tablet)
	{
		@include span-columns(2.5 of 5);
		@include omega(2n);
	}
	@include media($desktop)
	{
		@include span-columns(4 of 8);
	}
	ul{
		list-style: none;
		ul li{
			margin-left:$base;
		}
	}
}
.great
{
	@include color-block($primary-color, $light-gray-color)
}
.good
{
	@include color-block($secondary-color, $light-gray-color)
}
.learning
{
	@include color-block($tertiary-color, $light-gray-color)
}





.intro
{
	a, a:visited{
		color:$light-gray-color;
		float:right;
		
		font-size:$base;
		vertical-align: bottom;
	}
	@include span-columns(4); 
	@include omega();
	@include media($tablet)
	{
		@include span-columns(8);
	}
	@include media($desktop)
	{
		@include span-columns(12);
	}
}


.title-and-info, #cnc
{
	@include span-columns(4); 
	@include media($tablet)
	{
		@include span-columns(3);
	}
	@include media($desktop)
	{
		@include span-columns(4);
	}
	.info
	{
		font-size:$base;
		color:$primary-faded-color;
		line-height: $base*2;
	}
}
footer
{

	background-color:$gray-color;
	positioning:absolute;
	padding: 50px $base;
	margin:0 $base*-1;
	@include media($desktop)
	{
		padding: 50px 0;
		margin:0;
	}
}

.container, #footer-content
{
	@include outer-container;
}


// #about, #currently
// {
// 	@include span-columns(4);
// 	@include media($tablet)
// 	{
// 		@include span-columns(4);
// 	}
// }
#currently{
background: none no-repeat scroll center bottom transparent;
min-height:200px;
}

p, h2{
	margin-bottom: $base;
}

input, textarea{
	width:100%
}

.experiment
{
	@include span-columns(4);
	@include media($tablet-only)
	{
		@include span-columns(4);
		@include omega(2n);
	}
	@include media($desktop)
	{
		@include span-columns(4);
		@include omega(3n);
	}
	margin-bottom:$base;
}


@include keyframes(flip){
  0%  {top:0;}
  10% {top:-$base*4;}
  20% {top:-$base*8;}
  30% {top:-$base*2;}
  40% {top:-$base*10;}
  50% {top:-$base*6;}
  60% {top:-$base*8;}
  70% {top:-$base*4;}
  80% {top:-$base*10;}
  90%  {top:-$base*2;}
  100% {top: 0;}
}

.i-am{
  height: $base*2;
  overflow:hidden;
  .spinner{
    vertical-align:top;
    display: inline-block;
    //border: 1px solid red;
    position: relative;
    width: 252px;
    height: $base*2;
    position: relative;
    top: 0;
    .step{
      width:100%;
      display:inline-block;
    }
    // -webkit-perspective: 800;
    // perspective: 800;
    @include animation-timing-function(linear);
    @include animation(flip 20s infinite);
  
  }
}