/*********************************************
	LAYOUT
	http://rickyvetter.com 
	v1.0
*********************************************/

@mixin color-block($block-color, $font-color) {
	background: $block-color;
	color: $font-color;
	margin-bottom: $base;
	padding: $base;
	font-family: "Montserrat";
	font-size: $base*1.2;
}

$base: 1rem;

body {
	@include linear-gradient(to top, $light-gray-color, $light-color, $fallback: $light-gray-color);
	padding:0 $base;
	@include media($desktop)
	{
		padding:0;
	}
}

header
{
	.header-content{
		@include outer-container;
		// @include span-columns(4); 
		// @include media($tablet)
		// {
		// 	@include span-columns(8);
		// }
		// @include media($desktop)
		// {
		// 	@include span-columns(12);
		// }
		#ricky
		{
			@include span-columns(3); 
			@include media($tablet)
			{
				@include span-columns(3);
			}
			@include media($desktop)
			{
				@include span-columns(4);
			}
			margin-bottom:$base/2 ;
		}
		nav
		{
			@include span-columns(4);
			@include media($tablet)
			{
				@include span-columns(5);
			}
			@include media($desktop)
			{
				@include span-columns(8);
			}
			a
			{
				margin:0 $base*2 0 0;
			}
			display: none;
			margin-top: $base;
			margin-bottom: $base/2;
		}
	}
	#menu-icon
	{
		@include span-columns(1); 
		// position:absolute;
		// top:0;
		// right:0;
		float:right;
		width:50px;
		height:50px;
		//background:red;
		background: url(menu-icon.png) no-repeat center;
		margin-right:0;
		@include media($tablet)
		{
			display:none;
		}
	}
	margin-top:$base;
	//position:fixed;
	//top:0;
}

#banner{
	background-color:$primary-color;
	color:$light-gray-color;
	positioning:absolute;
	padding: $base*2 $base;
	margin:0 $base*-1 $base*2 $base*-1;
	h1{
		color:$light-gray-color;
	}
	@include media($tablet)
	{
		p{
			margin:0;
		}
	}
	@include media($desktop)
	{
		padding: $base*2 0;
		margin:0 0 $base*2 0;
	}
}
a.button{
	@include span-columns(4); 
	@include media($tablet)
	{
		@include span-columns(3);
	}
	@include media($desktop)
	{
		@include span-columns(4);
	}
	text-align:center;
	padding:25px 0;
	font-size:$base*2;
	border:1px solid $light-gray-color;
	margin-bottom:$base;
}
a.dark, a.dark:visited, input.submit{
	color:$light-gray-color;
	background-color:$primary-color;
}
a.dark:hover{
	background-color:$primary-faded-color;
	color:$light-gray-color;
}
a.social-link, a.social-link:visited
{
	font-size:$base*5;
	color:$light-gray-color;
}
a.social-links:hover
{
	color:$primary-faded-color;
}



section
{
	@include outer-container;
	margin-bottom:$base*2;
	// :last-child {
	// 	border-bottom:none;
	// }
	h1{
		margin-bottom:$base;
	}
	article
	{
		@include span-columns(4); 
		@include media($tablet)
		{
			@include span-columns(8);

			// border-bottom:1px solid $gray-color;
		}
		@include media($desktop)
		{
			@include span-columns(12);
		}
		padding-bottom:$base;
		margin-bottom:$base;
		//box-shadow: 0px 1px 0px $gray-color;
	}

}


#footer-contact, .content
{
	@include span-columns(4); 
	@include media($tablet)
	{
		@include span-columns(5);
	}
	@include media($desktop)
	{
		@include span-columns(8);
	}
}
.one-half
{
	@include span-columns(4 of 4); 
	@include media($tablet)
	{
		@include span-columns(2.5 of 5);
		@include omega(2n);
	}
	@include media($desktop)
	{
		@include span-columns(4 of 8);
	}
	ul{
		list-style: none;
		ul li{
			margin-left:$base;
		}
	}
}
.great
{
	@include color-block($primary-color, $light-gray-color)
}
.good
{
	@include color-block($secondary-color, $light-gray-color)
}
.learning
{
	@include color-block($tertiary-color, $light-gray-color)
}





.intro
{
	i{
		float:right;
	}
	@include span-columns(4); 
	@include media($tablet)
	{
		@include span-columns(8);
	}
	@include media($desktop)
	{
		@include span-columns(12);
	}
	.info
	{
		border-width: 1px;
		border-color: $secondary-color;
		padding:$base;
	}
}


.title-and-info, #cnc
{
	@include span-columns(4); 
	@include media($tablet)
	{
		@include span-columns(3);
	}
	@include media($desktop)
	{
		@include span-columns(4);
	}
	.info
	{
		border-width: 1px;
		border-color: $secondary-color;
		padding:$base;
	}
}
footer
{

	background-color:$gray-color;
	positioning:absolute;
	padding: 50px $base;
	margin:0 $base*-1;
	@include media($desktop)
	{
		padding: 50px 0;
		margin:0;
	}
}

.container, #footer-content
{
	@include outer-container;
}


#about, #currently
{
	@include span-columns(4);
	@include media($tablet)
	{
		@include span-columns(4);
	}
}

p, h2{
	margin-bottom: $base;
}

input, textarea{
	width:100%
}