@import url(font-awesome/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*********************************************
	Custom CSS by Ricky Vetter (unless noted)
	http://rickyvetter
	v2.0
*********************************************/
/*********************************************
	RESET
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*********************************************
	END RESET
*********************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*********************************************
	LAYOUT
	http://rickyvetter.com 
	v1.0
*********************************************/
body {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(bottom, #eeeeee, #fafafa);
  background-image: linear-gradient(to top,#eeeeee, #fafafa);
  padding: 0 1rem; }
  @media screen and (min-width: 1100px) {
    body {
      padding: 0; } }

header {
  margin-top: 1rem; }
  header .header-content {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    header .header-content:before, header .header-content:after {
      content: " ";
      display: table; }
    header .header-content:after {
      clear: both; }
    header .header-content #ricky {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 73.14426%;
      margin-bottom: 0.5rem; }
      header .header-content #ricky:last-child {
        margin-right: 0; }
      @media screen and (min-width: 769px) {
        header .header-content #ricky {
          display: block;
          float: left;
          margin-right: 3.57866%;
          width: 35.26334%; }
          header .header-content #ricky:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 1100px) {
        header .header-content #ricky {
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 31.76157%; }
          header .header-content #ricky:last-child {
            margin-right: 0; } }
    header .header-content nav {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%;
      display: none;
      margin-top: 1rem;
      margin-bottom: 0.5rem; }
      header .header-content nav:last-child {
        margin-right: 0; }
      @media screen and (min-width: 769px) {
        header .header-content nav {
          display: block;
          float: left;
          margin-right: 3.57866%;
          width: 61.158%; }
          header .header-content nav:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 1100px) {
        header .header-content nav {
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 65.88078%; }
          header .header-content nav:last-child {
            margin-right: 0; } }
      header .header-content nav a {
        margin: 0 2rem 0 0; }
  header #menu-icon {
    display: block;
    float: left;
    margin-right: 7.42297%;
    width: 19.43277%;
    float: right;
    width: 50px;
    height: 50px;
    background: url(menu-icon.png) no-repeat center;
    margin-right: 0; }
    header #menu-icon:last-child {
      margin-right: 0; }
    @media screen and (min-width: 769px) {
      header #menu-icon {
        display: none; } }

#banner {
  background-color: #240438;
  color: #eeeeee;
  positioning: absolute;
  padding: 50px 1rem;
  margin: 0 -1rem 2rem -1rem; }
  @media screen and (min-width: 1100px) {
    #banner {
      padding: 50px 0;
      margin: 0 0 2rem 0; } }

a.button {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-size: 2rem;
  border: 1px solid #eeeeee;
  margin: 1rem 0; }
  a.button:last-child {
    margin-right: 0; }
  @media screen and (min-width: 769px) {
    a.button {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 35.26334%; }
      a.button:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1100px) {
    a.button {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      a.button:last-child {
        margin-right: 0; } }

a.dark, a.dark:visited, input.submit {
  color: #eeeeee;
  background-color: #240438; }

a.dark:hover {
  background-color: #6c5662;
  color: #eeeeee; }

.social-links {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  .social-links:last-child {
    margin-right: 0; }
  @media screen and (min-width: 769px) {
    .social-links {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 22.316%;
      margin: 0; }
      .social-links:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1100px) {
    .social-links {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .social-links:last-child {
        margin-right: 0; } }

a.social-link, a.social-link:visited {
  font-size: 5rem;
  color: #eeeeee; }

a.social-links:hover {
  color: #6c5662; }

section {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }
  section h1 {
    margin-bottom: 1rem; }
  section article {
    display: block;
    float: left;
    margin-right: 7.42297%;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem; }
    section article:last-child {
      margin-right: 0; }
    @media screen and (min-width: 769px) {
      section article {
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 100%; }
        section article:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1100px) {
      section article {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        section article:last-child {
          margin-right: 0; } }

#footer-contact, .content {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  #footer-contact:last-child, .content:last-child {
    margin-right: 0; }
  @media screen and (min-width: 769px) {
    #footer-contact, .content {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 61.158%; }
      #footer-contact:last-child, .content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1100px) {
    #footer-contact, .content {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 65.88078%; }
      #footer-contact:last-child, .content:last-child {
        margin-right: 0; } }

.one-half {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  .one-half:last-child {
    margin-right: 0; }
  @media screen and (min-width: 769px) {
    .one-half {
      display: block;
      float: left;
      margin-right: 5.85151%;
      width: 47.07425%; }
      .one-half:last-child {
        margin-right: 0; }
      .one-half:nth-child(2n) {
        margin-right: 0; }
      .one-half:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 1100px) {
    .one-half {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 48.21067%; }
      .one-half:last-child {
        margin-right: 0; } }
  .one-half ul {
    list-style: none; }
    .one-half ul ul li {
      margin-left: 1rem; }

.great {
  background: #240438;
  color: #eeeeee;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: "Montserrat";
  font-size: 1.2rem; }

.good {
  background: #83b036;
  color: #eeeeee;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: "Montserrat";
  font-size: 1.2rem; }

.learning {
  background: #442200;
  color: #eeeeee;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: "Montserrat";
  font-size: 1.2rem; }

.title-and-info, #cnc, .intro {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  .title-and-info:last-child, #cnc:last-child, .intro:last-child {
    margin-right: 0; }
  @media screen and (min-width: 769px) {
    .title-and-info, #cnc, .intro {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 35.26334%; }
      .title-and-info:last-child, #cnc:last-child, .intro:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1100px) {
    .title-and-info, #cnc, .intro {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .title-and-info:last-child, #cnc:last-child, .intro:last-child {
        margin-right: 0; } }

footer {
  background-color: #aaaaaa;
  positioning: absolute;
  padding: 50px 1rem;
  margin: 0 -1rem; }
  @media screen and (min-width: 1100px) {
    footer {
      padding: 50px 0;
      margin: 0; } }

.container, #footer-content {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after, #footer-content:before, #footer-content:after {
    content: " ";
    display: table; }
  .container:after, #footer-content:after {
    clear: both; }

#about, #currently {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  #about:last-child, #currently:last-child {
    margin-right: 0; }
  @media screen and (min-width: 769px) {
    #about, #currently {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 48.21067%; }
      #about:last-child, #currently:last-child {
        margin-right: 0; } }

p, h2 {
  margin-bottom: 1rem; }

input, textarea {
  width: 100%; }

/*********************************************
	TYPOGRAPHY
	http://rickyvetter.com 
	v1.0
*********************************************/
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #171717; }

h1, h2, h3, h4, h5, h6, nav {
  font-family: 'Montserrat', "Novecentosanswide-Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #240438;
  text-transform: uppercase;
  text-decoration: none; }

a, a:visited {
  font-family: 'Montserrat', "Novecentosanswide-Bold", Helvetica, Arial, sans-serif;
  color: #240438;
  text-decoration: none; }

a:hover {
  color: #6c5662;
  text-decoration: none; }

nav a {
  font-size: 1.5rem;
  line-height: 2rem; }

p, ul, ol, code, pre {
  font-size: 1.5rem;
  line-height: 2rem; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  font-family: monospace; }

code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
  font-family: monospace; }

pre code {
  border: none; }

/* terminal */
pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

pre.terminal code {
  background-color: #333; }

/*********************************************
	CUSTOM HEADER
	http://rickyvetter.com 
	v1.0
*********************************************/
