@charset "IBM437";
@import url(font-awesome/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*********************************************
	Custom CSS by Ricky Vetter (unless noted)
	http://rickyvetter
	v2.0
*********************************************/
/*********************************************
	RESET
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*********************************************
	END RESET
*********************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*********************************************
	LAYOUT
	http://rickyvetter.com 
	v1.0
*********************************************/
body {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(bottom, #eeeeee, #fafafa);
  background-image: linear-gradient(to top,#eeeeee, #fafafa);
  padding: 0 1rem; }
  @media screen and (min-width: 960px) {
    body {
      padding: 0; } }

header {
  margin-top: 1rem; }
  header .header-content {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    header .header-content:before, header .header-content:after {
      content: " ";
      display: table; }
    header .header-content:after {
      clear: both; }
    header .header-content #ricky {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 73.14426%;
      margin-bottom: 0.5rem; }
      header .header-content #ricky:last-child {
        margin-right: 0; }
      @media screen and (min-width: 481px) {
        header .header-content #ricky {
          display: block;
          float: left;
          margin-right: 3.57866%;
          width: 35.26334%; }
          header .header-content #ricky:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 960px) {
        header .header-content #ricky {
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 31.76157%; }
          header .header-content #ricky:last-child {
            margin-right: 0; } }
    header .header-content nav {
      display: none;
      margin-top: 1rem;
      margin-bottom: 0.5rem; }
      @media screen and (max-width: calc($tablet-size-1px)) {
        header .header-content nav {
          display: block;
          float: left;
          margin-right: 3.57866%;
          width: 61.158%;
          margin-right: 0;
          display: block; }
          header .header-content nav:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 481px) {
        header .header-content nav {
          display: block;
          float: left;
          margin-right: 3.57866%;
          width: 61.158%;
          margin-right: 0;
          display: block; }
          header .header-content nav:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 960px) {
        header .header-content nav {
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 65.88078%; }
          header .header-content nav:last-child {
            margin-right: 0; } }
      header .header-content nav ul {
        list-style-type: none;
        display: inline;
        margin: 0;
        padding: 0; }
        header .header-content nav ul li {
          display: inline;
          margin: 0 2rem 0 0; }
  header #menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(menu-icon.png) no-repeat center; }
    @media screen and (min-width: 481px) {
      header #menu-icon {
        display: none; } }

#banner {
  background-color: #240438;
  color: #eeeeee;
  positioning: absolute;
  padding: 50px 1rem;
  margin: 0 -1rem 2rem -1rem; }
  @media screen and (min-width: 960px) {
    #banner {
      padding: 50px 0;
      margin: 0 0 2rem 0; } }

a.button {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-size: 2rem;
  border: 1px solid #eeeeee;
  margin: 1rem 0; }
  a.button:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    a.button {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 35.26334%;
      margin: 0; }
      a.button:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    a.button {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      a.button:last-child {
        margin-right: 0; } }

a.dark, a.dark:visited {
  color: #eeeeee;
  background-color: #240438; }

a.dark:hover {
  background-color: #6c5662;
  color: #eeeeee; }

.social-links {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  .social-links:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    .social-links {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 22.316%;
      margin: 0; }
      .social-links:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    .social-links {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .social-links:last-child {
        margin-right: 0; } }

a.social-link, a.social-link:visited {
  font-size: 5rem;
  color: #eeeeee; }

a.social-links:hover {
  color: #6c5662; }

section {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }
  section h1 {
    margin-bottom: 1rem; }
  section article {
    display: block;
    float: left;
    margin-right: 7.42297%;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem; }
    section article:last-child {
      margin-right: 0; }
    @media screen and (min-width: 481px) {
      section article {
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 100%; }
        section article:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 960px) {
      section article {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        section article:last-child {
          margin-right: 0; } }

#footer-contact, .content {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  #footer-contact:last-child, .content:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    #footer-contact, .content {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 61.158%; }
      #footer-contact:last-child, .content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    #footer-contact, .content {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 65.88078%; }
      #footer-contact:last-child, .content:last-child {
        margin-right: 0; } }

.one-half {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  .one-half:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    .one-half {
      display: block;
      float: left;
      margin-right: 5.85151%;
      width: 25.90395%; }
      .one-half:last-child {
        margin-right: 0; }
      .one-half:nth-child(2n) {
        margin-right: 0; }
      .one-half:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 960px) {
    .one-half {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 48.21067%; }
      .one-half:last-child {
        margin-right: 0; } }

.great {
  background: #240438;
  color: #eeeeee;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: "Montserrat";
  font-size: 1.2rem; }

.good {
  background: #6c5662;
  color: #eeeeee;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: "Montserrat";
  font-size: 1.2rem; }

.learning {
  background: #83b036;
  color: #eeeeee;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: "Montserrat";
  font-size: 1.2rem; }

.title-and-info, #cnc, .intro {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  .title-and-info:last-child, #cnc:last-child, .intro:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    .title-and-info, #cnc, .intro {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 35.26334%; }
      .title-and-info:last-child, #cnc:last-child, .intro:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    .title-and-info, #cnc, .intro {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .title-and-info:last-child, #cnc:last-child, .intro:last-child {
        margin-right: 0; } }

footer {
  background-color: #aaaaaa;
  positioning: absolute;
  padding: 50px 1rem;
  margin: 0 -1rem; }
  @media screen and (min-width: 960px) {
    footer {
      padding: 50px 0;
      margin: 0; } }

.container, #footer-content {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after, #footer-content:before, #footer-content:after {
    content: " ";
    display: table; }
  .container:after, #footer-content:after {
    clear: both; }

#about, #currently {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  #about:last-child, #currently:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    #about, #currently {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 48.21067%; }
      #about:last-child, #currently:last-child {
        margin-right: 0; } }

p, h2 {
  margin-bottom: 1rem; }

/* @license
 * MyFonts Webfont Build ID 2669885, 2013-10-19T16:15:26-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Novecento Sans Wide Bold by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-bold/
 * 
 * Webfont: Novecento Sans Wide Book by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-book/
 * 
 * Webfont: Novecento Sans Wide DemiBold by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-demibold/
 * 
 * Webfont: Novecento Sans Wide Light by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-light/
 * 
 * Webfont: Novecento Sans Wide Medium by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-medium/
 * 
 * Webfont: Novecento Sans Wide Normal by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-normal/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2669885
 * Licensed pageviews: Unlimited
 * Webfonts copyright: Copyright &#x00A9; 2013 by Jan Tonellato. All rights reserved.
 * 
 * © 2013 MyFonts Inc
*/
@font-face {
  font-family: 'Novecentosanswide-Bold';
  src: url("webfonts/28BD3D_0_0.eot");
  src: url("webfonts/28BD3D_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/28BD3D_0_0.woff") format("woff"), url("webfonts/28BD3D_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentosanswide-Book';
  src: url("webfonts/28BD3D_1_0.eot");
  src: url("webfonts/28BD3D_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/28BD3D_1_0.woff") format("woff"), url("webfonts/28BD3D_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentosanswide-DemiBold';
  src: url("webfonts/28BD3D_2_0.eot");
  src: url("webfonts/28BD3D_2_0.eot?#iefix") format("embedded-opentype"), url("webfonts/28BD3D_2_0.woff") format("woff"), url("webfonts/28BD3D_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentosanswide-Light';
  src: url("webfonts/28BD3D_3_0.eot");
  src: url("webfonts/28BD3D_3_0.eot?#iefix") format("embedded-opentype"), url("webfonts/28BD3D_3_0.woff") format("woff"), url("webfonts/28BD3D_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentosanswide-Medium';
  src: url("webfonts/28BD3D_4_0.eot");
  src: url("webfonts/28BD3D_4_0.eot?#iefix") format("embedded-opentype"), url("webfonts/28BD3D_4_0.woff") format("woff"), url("webfonts/28BD3D_4_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentosanswide-Normal';
  src: url("webfonts/28BD3D_5_0.eot");
  src: url("webfonts/28BD3D_5_0.eot?#iefix") format("embedded-opentype"), url("webfonts/28BD3D_5_0.woff") format("woff"), url("webfonts/28BD3D_5_0.ttf") format("truetype"); }

/*********************************************
	TYPOGRAPHY
	http://rickyvetter.com 
	v1.0
*********************************************/
body {
  font-family: 'News Cycle', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #171717; }

h1, h2, h3, h4, h5, h6, nav, a, a:visited {
  font-family: 'Montserrat', "Novecentosanswide-Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #240438;
  text-transform: uppercase;
  text-decoration: none; }

a:hover {
  color: #6c5662;
  text-decoration: none; }

footer p {
  font-size: 1rem; }

p {
  font-size: 1.5rem; }

h1 {
  font-size: 3rem; }

h2, nav {
  font-size: 2rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

/*********************************************
	CUSTOM HEADER
	http://rickyvetter.com 
	v1.0
*********************************************/
