//@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*********************************************
	TYPOGRAPHY
	http://rickyvetter.com 
	v1.0
*********************************************/

body {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		//font-family:   sans-serif;
		font-weight: normal;
		font-size: $base;
		color:$dark-color;
	}

h1, h2, h3, h4, h5, h6, nav, .info{
		font-family: 'Montserrat', "Novecentosanswide-Bold", Helvetica, Arial, sans-serif;
		font-weight: bold;
		color:$primary-color;
		text-transform: uppercase;
		text-decoration:none;
	}

a, a:visited{
	font-family: 'Montserrat', "Novecentosanswide-Bold", Helvetica, Arial, sans-serif;
	color:$primary-color;
	text-decoration:none;
}

a:hover{
	color:$primary-faded-color;
	text-decoration:none;
}

nav a{
	font-size:$base*1.5;
	line-height:$base*2;
}
		
p, ul, ol, code, pre{
	font-size:$base*1.5;
	line-height:$base*2;
}
h1{
	font-size:$base*3;
}
h2{
	font-size:$base*2;
}
h3{
	font-size:$base*1.6;
}
h4{
	font-size:$base*1.4;
}

pre {
	display:inline;
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .4em;
	font-family: monospace;
}

code {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .2em;
	font-family: monospace;
}

pre code {
	border: none;
}

/* terminal */
pre.terminal {
	border: 1px solid #000;
	background-color: #333;
	color: #FFF;
}

pre.terminal code {
	background-color: #333;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
#ricky {
  -webkit-transform: translate3D(0, 0, 0);
}
.circle {
  -webkit-transition: -webkit-transform .5s;
}
.circle {
  display:inline-block;
  background: $primary-color;
  text-align: center;
  float: left;
  width:$base*3; //same as h1 font-size
  vertical-align:text-top;
  color: $light-color;
  cursor: pointer;
  @include border-radius(120px);
  -moz-transform: rotate(-36deg);
    -webkit-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    transform: rotate(-36deg);
    @include transition(all 100ms);
}
#header-link:hover{
	color: $primary-faded-color;
}
#header-link:hover .circle {
	background: $primary-faded-color;
  -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    @include transition(all 100ms);
}