//@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*********************************************
	TYPOGRAPHY
	http://rickyvetter.com 
	v1.0
*********************************************/

body {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		//font-family:   sans-serif;
		font-weight: normal;
		font-size: $base;
		color:$dark-color;
	}

h1, h2, h3, h4, h5, h6, nav{
		font-family: 'Montserrat', "Novecentosanswide-Bold", Helvetica, Arial, sans-serif;
		font-weight: bold;
		color:$primary-color;
		text-transform: uppercase;
		text-decoration:none;
	}

a, a:visited{
	font-family: 'Montserrat', "Novecentosanswide-Bold", Helvetica, Arial, sans-serif;
	color:$primary-color;
	text-decoration:none;
}

a:hover{
	color:$primary-faded-color;
	text-decoration:none;
}

nav a{
	font-size:$base*1.5;
	line-height:$base*2;
}
		
p, ul, ol, code, pre{
	font-size:$base*1.5;
	line-height:$base*2;
}
h1{
	font-size:$base*3;
}
h2{
	font-size:$base*2;
}
h3{
	font-size:$base*1.6;
}
h4{
	font-size:$base*1.4;
}

pre {
	display:inline;
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .4em;
	font-family: monospace;
}

code {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .2em;
	font-family: monospace;
}

pre code {
	border: none;
}

/* terminal */
pre.terminal {
	border: 1px solid #000;
	background-color: #333;
	color: #FFF;
}

pre.terminal code {
	background-color: #333;
}