	<footer>
		<div id="footer-content">
			<div id="cnc">
				<p>&copy; Ricky Vetter 2012-2013</p>
			</div>
			<div id="footer-contact" class="">
				<p class="text-muted"><i>If you like the design of this site or you want to know more about any of my work, shoot me an email. Please include an animal fact. Animal facts are always good icebreakers.</i></p>
				<div class="social-links">
					<a href="http://www.linkedin.com/in/rickyvetter" class="social-link">
						<i class="icon-linkedin"></i>
					</a>
					<a href="https://github.com/rickyvetter" class="social-link">
						<i class="icon-github"></i>
					</a>
					<a href="https://twitter.com/rickyvetter" class="social-link">
						<i class="icon-twitter"></i>
					</a>
					<a href="https://www.facebook.com/rickyvetter" class="social-link">
						<i class="icon-facebook"></i>
					</a>
			</div>
			</div>
		</div>
			
	</footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function($){

			/* prepend menu icon */
			//$('#nav-wrap').prepend('<div id="menu-icon">Menu</div>');
			
			/* toggle nav */
			$("#menu-icon").on("click", function(){
				$("nav").slideToggle();
				$(this).toggleClass("active");
			});

		});
	</script>
	<script src="/js/owl.carousel.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#full-slider").owlCarousel({
			slideSpeed : 300,
			paginationSpeed : 400,
			singleItem:true
		});
	});

	$(document).ready(function() {
		$("#three-slider").owlCarousel({
			items : 3
		});
	});
</script>

</body>
</html>