	<footer>
		<div id="footer-content">
			<div id="cnc">
				<p>&copy; Ricky Vetter 2012-2013<br><i>Weather data provided by <a href="http://wunderground.com" id="weatherAttribute" target="_blank">Weather Underground</a></i></p>
			</div>
			<div id="footer-contact" class="">
				<p class="text-muted"><i>If you like the design of this site or you want to know more about any of my work, shoot me an email. Please include an animal fact. Animal facts are always good icebreakers.</i></p>
			</div>
		</div>
	</footer>
        

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script type="text/javascript">
		jQuery(document).ready(function($){

			/* prepend menu icon */
			//$('#nav-wrap').prepend('<div id="menu-icon">Menu</div>');
			
			/* toggle nav */
			$("#menu-icon").on("click", function(){
				$("nav").slideToggle();
				$(this).toggleClass("active");
			});

		});
	</script>
</body>
</html>