<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ include.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="/css/syntax.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<div class="header-content">
			<div id="ricky">
				<h1>
					<a href="/"><img id="r" src="/css/possible-logo2.svg"/>icky</a>
				</h1>
			</div>
			<div id="menu-icon"></div>
			<nav>
				<a href="/">Work</a>&nbsp;<a href="/thoughts">Thoughts</a> <a href="/about">About</a>&nbsp;<a href="/contact">Contact</a>
			</nav>
			
		</div>
	</header>