<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ include.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
	<link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<div class="header-content">
			<h1><a id="ricky" href="/"><img src="/css/possible-logo2.svg" height="50px" width="50px">icky</a></h1>
			<!-- <h1 id="ricky"><a href="http://rickyvetter.com">Ricky</a></h1> -->
			<nav>
				<ul>
					<li><a href="/thoughts">Thoughts</a></li>
					<li><a href="/">Work</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</div>
		<div id="menu-icon"></div>
	</header>