{% assign page-title = page.title %}

{% include header.html title=page-title %}

	<div id="banner">
		<div class="container">
			<div class="intro">
				<p>My name is Ricky. I work on websites, mobile apps and any other technology that I find.</p>
			</div>
			<a href="/contact" class="dark button">Work with me</a>
			<div class="social-links">
					<a href="http://www.linkedin.com/in/rickyvetter" class="social-link">
						<i class="icon-linkedin"></i>
					</a>
					<a href="https://github.com/rickyvetter" class="social-link">
						<i class="icon-github"></i>
					</a>
					<a href="https://twitter.com/rickyvetter" class="social-link">
						<i class="icon-twitter"></i>
					</a>
					<a href="https://www.facebook.com/rickyvetter" class="social-link">
						<i class="icon-facebook"></i>
					</a>
			</div>
		</div>
	</div>
	<section id="body">
		{{ content }}
	</section>
     	
	{% include footer.html %}