---
layout: default
---
		<h1>{{ page.title }}</h1>
		{% for post in site.categories.projects %}
		<article>
			<div class="title-and-info">
				<h2><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;<i class="icon-{{ post.icon }}"></i></h2>
				<h4>{{ post.company }}</h4>
				<p>My role: <i class="icon-code"></i></p>
				<!-- <ul>
					<li>Design</li>
					<li>Coded the data structures and backend logic for manipulating boxes and items</li>
					<li></li>
				</ul> -->
			</div>
			<div class="content">
				{{ post.excerpt }}
				<p><a href="{{ post.url }}">View Details &raquo;</a></p>
			</div>
		</article>
		{% endfor %}