---
layout: default
---
		{% for post in site.categories.projects %}
		<article>
			<div class="title-and-info">
				<h2><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;<i class="icon-{{ post.icon }}"></i></h2>
				<div class="info">
					<span class="roles">{{ post.role }}</span><br>
					<span class="skills">{{ post.skills }}</span>
				</div>
			</div>
			<div class="content">
				{{ post.excerpt | markdownify }}
				<p><a href="{{ post.url }}">View Details &raquo;</a></p>
			</div>
		</article>
		{% endfor %}