/*********************************************
	Custom CSS by Ricky Vetter (unless noted)
	http://rickyvetter
	v2.0
*********************************************/
/*********************************************
	RESET
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*********************************************
	END RESET
*********************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }
  @media screen and (max-width: calc($tablet-size-1px)) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%); } }
  @media screen and (min-width: 481px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%); } }
  @media screen and (min-width: 960px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%); } }

/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("leaguegothic-italic-webfont.eot");
  src: url("leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("leaguegothic-italic-webfont.woff") format("woff"), url("leaguegothic-italic-webfont.ttf") format("truetype"), url("leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic; }

/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url("leaguegothic-regular-webfont.eot");
  src: url("leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("leaguegothic-regular-webfont.woff") format("woff"), url("leaguegothic-regular-webfont.ttf") format("truetype"), url("leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Condensed */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url("leaguegothic-condensed-regular-webfont.eot");
  src: url("leaguegothic-condensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("leaguegothic-condensed-regular-webfont.woff") format("woff"), url("leaguegothic-condensed-regular-webfont.ttf") format("truetype"), url("leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Condensed Italic */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url("leaguegothic-condensed-italic-webfont.eot");
  src: url("leaguegothic-condensed-italic-webfont.eot?#iefix") format("embedded-opentype"), url("leaguegothic-condensed-italic-webfont.woff") format("woff"), url("leaguegothic-condensed-italic-webfont.ttf") format("truetype"), url("leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg") format("svg");
  font-weight: normal;
  font-style: italic; }

body {
  background-color: #eeeeee; }

header {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header #ricky {
    display: block;
    float: left;
    margin-right: 7.42297%;
    width: 73.14426%; }
    header #ricky:last-child {
      margin-right: 0; }
    @media screen and (min-width: 481px) {
      header #ricky {
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 100%;
        margin-top: 200px; }
        header #ricky:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 960px) {
      header #ricky {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        header #ricky:last-child {
          margin-right: 0; } }
  header nav {
    display: block;
    float: left;
    margin-right: 7.42297%;
    width: 19.43277%;
    display: none; }
    header nav:last-child {
      margin-right: 0; }
    @media screen and (min-width: 481px) {
      header nav {
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 100%;
        margin-right: 0;
        background-color: #dadada;
        position: fixed; }
        header nav:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 960px) {
      header nav {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%;
        margin-right: 0; }
        header nav:last-child {
          margin-right: 0; } }
    header nav ul {
      list-style-type: none;
      display: inline;
      margin: 0;
      padding: 0; }
      header nav ul li {
        display: inline;
        margin: 0 30px 0 0; }
  @media screen and (max-width: calc($tablet-size-1px)) {
    header {
      background-color: #dadada; } }

section {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }

article {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  article:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    article {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%; }
      article:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    article {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      article:last-child {
        margin-right: 0; } }

#footer-contact {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  #footer-contact:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    #footer-contact {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 61.158%; }
      #footer-contact:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    #footer-contact {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 65.88078%; }
      #footer-contact:last-child {
        margin-right: 0; } }

.title-and-info, #cnc {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  .title-and-info:last-child, #cnc:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    .title-and-info, #cnc {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 35.26334%;
      margin-right: 0; }
      .title-and-info:last-child, #cnc:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    .title-and-info, #cnc {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0; }
      .title-and-info:last-child, #cnc:last-child {
        margin-right: 0; } }

footer {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }

#about, #currently {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  #about:last-child, #currently:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    #about, #currently {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 48.21067%; }
      #about:last-child, #currently:last-child {
        margin-right: 0; } }

/*********************************************
	TYPOGRAPHY
	http://rickyvetter.com 
	v1.0
*********************************************/
body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6, nav, a, a:visited {
  font-family: "League Gothic Italic", Helvetica, Arial, sans-serif;
  color: #301d59;
  text-decoration: none; }

a:hover {
  color: #b03684;
  text-decoration: none; }

footer p {
  font-size: 1rem;
  color: #aaaaaa; }

p {
  font-size: 1.6rem; }

h1 {
  font-size: 6rem; }

h2, nav {
  font-size: 4rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.6rem; }

/*********************************************
	CUSTOM HEADER
	http://rickyvetter.com 
	v1.0
*********************************************/
