@charset "IBM437";
/*********************************************
	Custom CSS by Ricky Vetter (unless noted)
	http://rickyvetter
	v2.0
*********************************************/
/*********************************************
	RESET
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*********************************************
	END RESET
*********************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }
  @media screen and (max-width: calc($tablet-size-1px)) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%); } }
  @media screen and (min-width: 481px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #eeeeee 12.94733%, #eeeeee 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #eeeeee 25.89467%, #eeeeee 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #eeeeee 38.842%, #eeeeee 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #eeeeee 51.78933%, #eeeeee 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #eeeeee 64.73666%, #eeeeee 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #eeeeee 77.684%, #eeeeee 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #eeeeee 90.63133%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%); } }
  @media screen and (min-width: 960px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%); } }

/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("leaguegothic-italic-webfont.eot");
  src: url("leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("leaguegothic-italic-webfont.woff") format("woff"), url("leaguegothic-italic-webfont.ttf") format("truetype"), url("leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic; }

/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url("leaguegothic-regular-webfont.eot");
  src: url("leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("leaguegothic-regular-webfont.woff") format("woff"), url("leaguegothic-regular-webfont.ttf") format("truetype"), url("leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Condensed */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url("leaguegothic-condensed-regular-webfont.eot");
  src: url("leaguegothic-condensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("leaguegothic-condensed-regular-webfont.woff") format("woff"), url("leaguegothic-condensed-regular-webfont.ttf") format("truetype"), url("leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Condensed Italic */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url("leaguegothic-condensed-italic-webfont.eot");
  src: url("leaguegothic-condensed-italic-webfont.eot?#iefix") format("embedded-opentype"), url("leaguegothic-condensed-italic-webfont.woff") format("woff"), url("leaguegothic-condensed-italic-webfont.ttf") format("truetype"), url("leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg") format("svg");
  font-weight: normal;
  font-style: italic; }

/*********************************************
	LAYOUT
	http://rickyvetter.com 
	v1.0
*********************************************/
body {
  background-color: #eeeeee; }

header {
  background-color: #eeeeee; }
  header .header-content {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    header .header-content:before, header .header-content:after {
      content: " ";
      display: table; }
    header .header-content:after {
      clear: both; }
    header .header-content #ricky {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 73.14426%;
      margin-bottom: 0.5rem; }
      header .header-content #ricky:last-child {
        margin-right: 0; }
      @media screen and (min-width: 481px) {
        header .header-content #ricky {
          display: block;
          float: left;
          margin-right: 3.57866%;
          width: 35.26334%; }
          header .header-content #ricky:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 960px) {
        header .header-content #ricky {
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 31.76157%; }
          header .header-content #ricky:last-child {
            margin-right: 0; } }
    header .header-content nav {
      display: none;
      margin-top: 1rem;
      margin-bottom: 0.5rem; }
      @media screen and (max-width: calc($tablet-size-1px)) {
        header .header-content nav {
          display: block;
          float: left;
          margin-right: 3.57866%;
          width: 61.158%;
          margin-right: 0;
          display: block; }
          header .header-content nav:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 481px) {
        header .header-content nav {
          display: block;
          float: left;
          margin-right: 3.57866%;
          width: 61.158%;
          margin-right: 0;
          display: block; }
          header .header-content nav:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 960px) {
        header .header-content nav {
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 65.88078%; }
          header .header-content nav:last-child {
            margin-right: 0; } }
      header .header-content nav ul {
        list-style-type: none;
        display: inline;
        margin: 0;
        padding: 0; }
        header .header-content nav ul li {
          display: inline;
          margin: 0 2rem 0 0; }
  header #menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(menu-icon.png) no-repeat center; }
    @media screen and (min-width: 481px) {
      header #menu-icon {
        display: none; } }

#banner {
  width: 100%;
  background-color: #240438;
  color: #eeeeee;
  padding: 50px 0; }

a.button {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-size: 2rem;
  border: 1px solid #eeeeee; }
  a.button:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    a.button {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 35.26334%; }
      a.button:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    a.button {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      a.button:last-child {
        margin-right: 0; } }

a.dark {
  color: #eeeeee;
  background-color: #240438; }

a.dark:hover {
  background-color: #7a0f4f;
  color: #eeeeee; }

section {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }
  section h1 {
    margin-bottom: 1rem;
    margin-top: 2rem; }
  section article {
    display: block;
    float: left;
    margin-right: 7.42297%;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem; }
    section article:last-child {
      margin-right: 0; }
    @media screen and (min-width: 481px) {
      section article {
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 100%; }
        section article:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 960px) {
      section article {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        section article:last-child {
          margin-right: 0; } }

#footer-contact, .content {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  #footer-contact:last-child, .content:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    #footer-contact, .content {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 61.158%; }
      #footer-contact:last-child, .content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    #footer-contact, .content {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 65.88078%; }
      #footer-contact:last-child, .content:last-child {
        margin-right: 0; } }

.title-and-info, #cnc, .intro {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  .title-and-info:last-child, #cnc:last-child, .intro:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    .title-and-info, #cnc, .intro {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 35.26334%; }
      .title-and-info:last-child, #cnc:last-child, .intro:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 960px) {
    .title-and-info, #cnc, .intro {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .title-and-info:last-child, #cnc:last-child, .intro:last-child {
        margin-right: 0; } }

footer {
  background-color: #aaaaaa; }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

#about, #currently {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  #about:last-child, #currently:last-child {
    margin-right: 0; }
  @media screen and (min-width: 481px) {
    #about, #currently {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 48.21067%; }
      #about:last-child, #currently:last-child {
        margin-right: 0; } }

/* @license
 * MyFonts Webfont Build ID 2669885, 2013-10-19T16:15:26-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Novecento Sans Wide Bold by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-bold/
 * 
 * Webfont: Novecento Sans Wide Book by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-book/
 * 
 * Webfont: Novecento Sans Wide DemiBold by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-demibold/
 * 
 * Webfont: Novecento Sans Wide Light by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-light/
 * 
 * Webfont: Novecento Sans Wide Medium by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-medium/
 * 
 * Webfont: Novecento Sans Wide Normal by Synthview
 * URL: http://www.myfonts.com/fonts/synthview/novecento/wide-normal/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2669885
 * Licensed pageviews: Unlimited
 * Webfonts copyright: Copyright &#x00A9; 2013 by Jan Tonellato. All rights reserved.
 * 
 * © 2013 MyFonts Inc
*/
@font-face {
  font-family: 'Novecentosanswide-Bold';
  src: url("webfonts/28BD3D_0_0.eot");
  src: url("webfonts/28BD3D_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/28BD3D_0_0.woff") format("woff"), url("webfonts/28BD3D_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentosanswide-Book';
  src: url("webfonts/28BD3D_1_0.eot");
  src: url("webfonts/28BD3D_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/28BD3D_1_0.woff") format("woff"), url("webfonts/28BD3D_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentosanswide-DemiBold';
  src: url("webfonts/28BD3D_2_0.eot");
  src: url("webfonts/28BD3D_2_0.eot?#iefix") format("embedded-opentype"), url("webfonts/28BD3D_2_0.woff") format("woff"), url("webfonts/28BD3D_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentosanswide-Light';
  src: url("webfonts/28BD3D_3_0.eot");
  src: url("webfonts/28BD3D_3_0.eot?#iefix") format("embedded-opentype"), url("webfonts/28BD3D_3_0.woff") format("woff"), url("webfonts/28BD3D_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentosanswide-Medium';
  src: url("webfonts/28BD3D_4_0.eot");
  src: url("webfonts/28BD3D_4_0.eot?#iefix") format("embedded-opentype"), url("webfonts/28BD3D_4_0.woff") format("woff"), url("webfonts/28BD3D_4_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Novecentosanswide-Normal';
  src: url("webfonts/28BD3D_5_0.eot");
  src: url("webfonts/28BD3D_5_0.eot?#iefix") format("embedded-opentype"), url("webfonts/28BD3D_5_0.woff") format("woff"), url("webfonts/28BD3D_5_0.ttf") format("truetype"); }

/*********************************************
	TYPOGRAPHY
	http://rickyvetter.com 
	v1.0
*********************************************/
body {
  font-family: 'News Cycle', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #171717; }

h1, h2, h3, h4, h5, h6, nav, a, a:visited {
  font-family: "Novecentosanswide-Bold", Helvetica, Arial, sans-serif;
  color: #240438;
  text-transform: uppercase;
  text-decoration: none; }

a:hover {
  color: #7a0f4f;
  text-decoration: none; }

footer p {
  font-size: 1rem; }

p {
  font-size: 1.5rem; }

h1 {
  font-size: 3rem; }

h2, nav {
  font-size: 2rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

/*********************************************
	CUSTOM HEADER
	http://rickyvetter.com 
	v1.0
*********************************************/
