/*********************************************
	TYPOGRAPHY
	http://rickyvetter.com 
	v1.0
*********************************************/
$base: 1rem;

body {
		font-family: Helvetica, Arial, sans-serif;
		font-weight: normal;
		font-size: $base;}

h1, h2, h3, h4, h5, h6, nav, a, a:visited{
		font-family: "League Gothic Italic", Helvetica, Arial, sans-serif;
		color:$primary-color;
		text-decoration:none;
	}

a:hover{
	color:$secondary-color;
	text-decoration:none;
}
		
footer p{
	font-size: $base;
	color:$gray-color;
}

p{
	font-size:$base*1.6;
}
h1{
	font-size:$base*6;
}
h2, nav{
	font-size:$base*4;
}
h3{
	font-size:$base*2;
}
h4{
	font-size:$base*1.6;
}